<div class="jumbotron" ng-controller="AboutCtrl as ctrl">
<h1>Create new Topic</h1>
  <p class="lead">
    <img ng-src="{{avator}}" alt="I'm {{fname}}"> :{{fname}} <br>
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/newtopic">Create Topic <span class="glyphicon glyphicon-plus"></span></a></p>
  <!--<p>{{user}}</p>
  <p>token: {{token}}</p>-->
</div>
<div class="row" ng-controller="DiscussCtrl as ctrl" id="container">
  <div class="col-md-4" ng-repeat="topic in topics" id="topics">
    <h2>
      {{topic.topic}}
    </h2>
    <p>
      created by: {{topic.name}}
    </p>
    <p>
      <a class="btn" href="#/comment?id={{topic._id}}">View discussion »</a>
    </p>
  </div>
</div>
