<div class="jumbotron" ng-controller="createtopicCtrl as ctrl">
  <h1>Add Topic</h1>
  <form ng-submit="ctrl.ok()" name="form" role="form">
    <div  ng-class="{ 'has-error': form.topic.$dirty && form.username.$error.required}">
      <label>Topic</label>
      <input type="text" name="topic" class="form-control" id="topic" placeholder="topic" ng-model="ctrl.topic" required>

    </div>
    <div class="modal-footer">
      <button class="btn btn-primary" type="button" ng-disabled="form.$invalid" ng-click="ctrl.ok()">Create</button>
    </div>
  </form>
  {{error}}
</div>
