<style>

    html, body {
        overflow-y: hidden;
        height:580px;
        overflow-x:hidden;
    }
    md-content{
        overflow-y: hidden;
    }

    .box-comments{
        background-color: #fff;

    }

    .box{
        box-shadow: 0 0px 0px rgba(0, 0, 0, 0.1);
        border: 0;
    }
    .box-footer{
        border-top: 0;
    }

</style>
<update-meta name="description" content="Frictionless, asynchronous conversations. For Slack"></update-meta>
<update-meta property="og:title" content="{{topic.topic}}" ></update-meta>
<update-meta property="og:description" content="{{topic.description}} "  ></update-meta>
<update-meta property="og:url" content="{{topic.url}}" ></update-meta>
<update-meta property="twitter:label1" content="Created by:" ></update-meta>
<update-meta property="twitter:data1" content="{{topic.name}}" ></update-meta>
<update-meta property="twitter:label2" content="Posted" ></update-meta>
<update-meta property="twitter:data2" content="{{topic.created | date:'hh:mm:a - EEE/dd/MMM'}}"></update-meta>
<div layout="row" class="">
    <div flex >
        <div class="box box-widget" style="background-color: #fff">
            <div class="">
            <div class='box-header '>
                <div class='user-block'>
                    <img ng-src="{{topic.avator}}" class="img-rounded member_image" alt="user Image">
                    <!--<img class='img-circle' ng-src='{{topic.avator}}' alt='user image'>-->
                    <span class='username owner-name'>{{topic.name}}</span>
                    <p class='description topic_date' > <time title="{{ topic.created | amDateFormat: 'dddd, MMMM Do YYYY, h:mm a' }}">{{ topic.created | amCalendar }}</time></p>
                </div><!-- /.user-block -->
                <div class='box-tools'>
                    <div class="input-group input-group-sm pull-right" style="width: 30%" >
                        <input type="text" class="form-control"  placeholder="Reply" id="foo" value="{{topic.url}}">
                        <span class="input-group-btn">
                                          <button class="btn btn-info btn-flat" ngclipboard ngclipboard-success="onSuccess(e);" data-clipboard-target="#foo"><i class="fa fa-clipboard"></i></button>
                                        </span>
                    </div>
                </div><!-- /.box-tools -->
            </div><!-- /.box-header -->
            <div class='box-body div3' style="">
                <!-- post text -->
                <div class="box-head with-border">
                    <!--<p class="file-title-header overflow-elipsis">-->
                        <h1 class="file-title-header " >{{topic.topic}}</h1>
                    <!--</p>-->
                </div>
                <div ng-show="topic.status == 1" class="video-container">
                    <div ng-bind-html="topic.link | totrusted"></div>

                </div>
                <div ng-show="topic.status == 0" class="video-container">
                    <iframe  ng-src="{{topic.link | trusturls}}" frameborder="0" allowfullscreen></iframe>
                </div>
                <div class="attachment-block clearfix" ng-show="topic.status == 0">
                    <img class="attachment-img" src="images/apology.jpg" alt="sorry image">
                    <div class="attachment-pushed">
                        <h4 class="attachment-heading"></h4>
                        <div class="attachment-text">
                            We apologise if the media isn't showing click here to visit page<a href="{{topic.link}}" target="_blank">Go</a>
                        </div><!-- /.attachment-text -->
                    </div><!-- /.attachment-pushed -->
                </div><!-- /.attachment-block -->
                <p><br/></p>
                <span class="note-editor topic_desc" ng-bind-html="topic.description"></span>
            </div><!-- /.box-body -->
            </div>
            <div class='box-footer box-comments'>
                <div class="row no-x">
                    <div class="col-md-7">
                        <p><a href ng-click="repsec0 = !repsec0">Reply</a></p>
                        <span class='pull-left text-muted' style="width: 100%">


                                  <form method="post" ng-submit="ctrl.rep(topic._id,topic._id,0,'','','',topic.topic,topic.url,topic.createdby,topic.name,topic.team_id)" name="form" role="form" >
                                        <div class="form-group pull-left col-md-6" ng-hide="!repsec0" style="width: 80%">
                                            <textarea enter-submit="ctrl.rep(topic._id,topic._id,0,'','','',topic.topic,topic.url,topic.createdby,topic.name,topic.team_id)"  msd-elastic class="form-control div3" name="reply0" id="reply0" ng-model="ctrl.reply0" required show-focus="repsec0"></textarea>
                                            <!--<input type="text" name="message" placeholder="Type Reply" class="form-control div3" name="reply0" id="reply0" ng-model="ctrl.reply0" required autofocus>-->
                                            <!--<input type="text" name="message" placeholder="Type Reply" class="form-control" name="reply0" id="reply0" ng-model="ctrl.reply0" required autofocus>
                                            <span class="input-group-btn">-->
                                                <button type="button" class="btn btn-primary btn-flat" ng-disabled="form.$invalid" ng-click="ctrl.rep(topic._id,topic._id,0,'','','',topic.topic,topic.url,topic.createdby,topic.name,topic.team_id)" style="visibility: hidden">Send</button>
                                            <!--</span>-->
                                        </div>
                                  </form>
                            </span>
                    </div>
                    <div class="col-md-5">

                    </div>
                </div>
                <div class="row">
                    <ul id="comments">
                        <li class="cmmnt" ng-repeat="comment in comments |filter:{level:1}">
                            <div class="avatar"><a href=""><img ng-src="{{comment.avator}}" class="img-rounded member_image" alt="default avatar"></a></div>
                            <div class="cmmnt-content">
                                <input type="hidden" ng-model="ctrl.parentid" value="{{comment._id}}"/>
                                <!--<input type="hidden" ng-model="ctrl.level" value="{{comment.level}}"/>
                                <input type="hidden" ng-model="ctrl.slug" value="{{comment.slug}}"/>-->
                                <header><span class="commentors">{{comment.user}}</span> - <span class="pubdate comment_date"> <time title="{{ comment.date | amDateFormat: 'dddd, MMMM Do YYYY, h:mm a' }}">{{ comment.date | amCalendar }}</time></span></header>
                                <!--<span class="comment_body" >{{comment.body}}</span>-->
                                <span class="comment_body" ng-bind-html="comment.body"></span>
                                <p><a href ng-click="repsec1 = !repsec1">Reply</a> <!--<a href ng-click="replies = !replies">Replies</a>--></p>
                                <form ng-submit="ctrl.rep(topic._id,comment._id,1,comment.full_slug,comment.full_slug,comment.slug,topic.topic,topic.url,topic.createdby,topic.name,topic.team_id)" name="form" role="form" >
                                    <div class="input-group input-group-sm" ng-show="repsec1" style="width: 50%">
                                        <textarea enter-submit="ctrl.rep(topic._id,comment._id,1,comment.full_slug,comment.full_slug,comment.slug,topic.topic,topic.url,topic.createdby,topic.name,topic.team_id)" msd-elastic class="form-control div3" placeholder="Reply" name="reply1" id="reply1" ng-model="ctrl.reply1" required show-focus="repsec1"></textarea>
                                            <button class="btn btn-info btn-flat" type="button" ng-disabled="form.$invalid" ng-click="ctrl.rep(topic._id,comment._id,1,comment.full_slug,comment.full_slug,comment.slug,topic.topic,topic.url,topic.createdby,topic.name,topic.team_id)" style="visibility: hidden">Reply</button>
                                    </div>
                                </form>
                            </div>
                            <!--<ul class="replies" ng-repeat="reply in comments | custom:comment._id:2:comment.slug">-->
                            <ul class="replies" ng-repeat="reply in comments | filter:{parentid:comment._id}| filter:{level:2}| filter:{slugabove:comment.slug}">
                                <li class="cmmnt">
                                    <div class="avatar"><a href=""><img ng-src="{{reply.avator}}" class="img-rounded member_image" alt="Professor photo avatar"></a></div>
                                    <div class="cmmnt-content">
                                        <header><span class="commentors">{{reply.user}}</span> - <span class="pubdate" ><time title="{{ reply.date | amDateFormat: 'dddd, MMMM Do YYYY, h:mm a' }}">{{ reply.date | amCalendar }}</time> </span></header>
                                        <span class="comment_body" ng-bind-html="reply.body"></span>
                                        <p><a href ng-click="repsec2 = !repsec2">Reply</a><!-- <a href ng-click="replies = !replies">Replies</a>--></p>
                                        <form ng-submit="ctrl.rep(topic._id,comment._id,2,reply.full_slug,reply.full_slug,reply.slug,topic.topic,topic.url,topic.createdby,topic.name,topic.team_id)" name="form" role="form">
                                            <div class="input-group input-group-sm" ng-show="repsec2">
                                                <textarea enter-submit="ctrl.rep(topic._id,comment._id,2,reply.full_slug,reply.full_slug,reply.slug,topic.topic,topic.url,topic.createdby,topic.name,topic.team_id)" msd-elastic class="form-control div3" placeholder="Reply" name="reply2" id="reply2" ng-model="ctrl.reply2" required show-focus="repsec2"></textarea>
                                                <button class="btn btn-info btn-flat" type="button" ng-disabled="form.$invalid" ng-click="ctrl.rep(topic._id,comment._id,2,reply.full_slug,reply.full_slug,reply.slug,topic.topic,topic.url,topic.createdby,topic.name,topic.team_id)" style="visibility: hidden">Reply</button>
                                            </div>
                                        </form>
                                    </div>

                                    <ul class="replies" ng-repeat="rep in comments | filter:{parentid:comment._id}| filter:{level:3}|filter:{slugabove:reply.slug}">
                                        <li class="cmmnt">
                                            <div class="avatar"><a href=";"><img ng-src="{{rep.avator}}" class="img-rounded member_image" alt="default avatar"></a></div>
                                            <div class="cmmnt-content">
                                                <header><span class="commentors">{{rep.user}}</span> - <span class="pubdate"> <time title="{{ rep.date | amDateFormat: 'dddd, MMMM Do YYYY, h:mm a' }}">{{ rep.date | amCalendar }}</time></span></header>
                                                <span class="comment_body" ng-bind-html="rep.body"></span>
                                                <p><a href ng-click="repsec3 = !repsec3">Reply</a><!-- <a href ng-click="replies = !replies">Replies</a>--></p>
                                                <form ng-submit="ctrl.rep(topic._id,comment._id,3,rep.full_slug,rep.full_slug,rep.slug,topic.topic,topic.url,topic.createdby,topic.name,topic.team_id)" name="form" role="form">
                                                    <div class="input-group input-group-sm" ng-show="repsec3">
                                                        <textarea enter-submit="ctrl.rep(topic._id,comment._id,3,rep.full_slug,rep.full_slug,rep.slug,topic.topic,topic.url,topic.createdby,topic.name,topic.team_id)" msd-elastic class="form-control div3" placeholder="Reply" name="reply3" id="reply3" ng-model="ctrl.reply3" required show-focus="repsec3"></textarea>
                                                            <button class="btn btn-info btn-flat" type="button" ng-disabled="form.$invalid" ng-click="ctrl.rep(topic._id,comment._id,3,rep.full_slug,rep.full_slug,rep.slug,topic.topic,topic.url,topic.createdby,topic.name,topic.team_id)" style="visibility: hidden">Reply</button>
                                                    </div>
                                                </form>
                                            </div>
                                            <ul class="replies" ng-repeat="frep in comments | filter:{parentid:comment._id}| filter:{level:4}|filter:{slugabove:rep.slug}">
                                                <li class="cmmnt">
                                                    <div class="avatar"><a href=""><img ng-src="{{frep.avator}}" class="img-rounded member_image" alt="default avatar"></a></div>
                                                    <div class="cmmnt-content">
                                                        <header><span class="commentors">{{frep.user}}</span> - <span class="pubdate" ><time title="{{ frep.date | amDateFormat: 'dddd, MMMM Do YYYY, h:mm a' }}">{{ frep.date | amCalendar }}</time></span></header>
                                                        <span class="comment_body" ng-bind-html="frep.body"></span>
                                                        <p><a href ng-click="repsec4 = !repsec4">Reply</a><!-- <a href ng-click="replies = !replies">Replies</a>--></p>
                                                        <form ng-submit="ctrl.rep(topic._id,comment._id,4,frep.full_slug,frep.full_slug,frep.slug,topic.topic,topic.url,topic.createdby,topic.name,topic.team_id)" name="form" role="form">
                                                            <div class="input-group input-group-sm" ng-show="repsec4">
                                                                <textarea enter-submit="ctrl.rep(topic._id,comment._id,4,frep.full_slug,frep.full_slug,frep.slug,topic.topic,topic.url,topic.createdby,topic.name,topic.team_id)" msd-elastic class="form-control div3" placeholder="Reply" name="reply4" id="reply4" ng-model="ctrl.reply4" required show-focus="repsec4"></textarea>
                                                                <button class="btn btn-info btn-flat" type="button" ng-disabled="form.$invalid" ng-click="ctrl.rep(topic._id,comment._id,4,frep.full_slug,frep.full_slug,frep.slug,topic.topic,topic.url,topic.createdby,topic.name,topic.team_id)" style="visibility: hidden">Reply</button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                    <ul class="replies" ng-repeat="lrep in comments | filter:{parentid:comment._id}| filter:{level:5}|filter:{slugabove:frep.slug}">
                                                        <li class="cmmnt">
                                                            <div class="avatar"><a href=""><img ng-src="{{lrep.avator}}" class="img-rounded member_image" alt="default avatar"></a></div>
                                                            <div class="cmmnt-content">
                                                                <header><span class="commentors">{{lrep.user}}</span> - <span class="pubdate" > <time title="{{ lrep.date | amDateFormat: 'dddd, MMMM Do YYYY, h:mm a' }}">{{ lrep.date | amCalendar }}</time></span></header>
                                                                <span class="comment_body" ng-bind-html="lrep.body"></span>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </li>

                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div><!-- /.box-footer --
                <div class="box-footer">


                </div><!-- /.box-footer -->
        </div><!-- /.box -->
    </div>
</div>
