<style>
    html, body {
        background-color: #fff;
        height: 100%;
        padding-top: 0;
    }
    .desc{
        color: #232323;
        padding-left: 0px;
    }
    ot-publisher,ot-subscriber,ot-layout {
        display: block;
        overflow: hidden;
    }
    ot-layout {
        position: relative;
        height: 310px;
    }
    .OT_publisher, .OT_subscriber {
        position: relative;
        width: 50%!important;
        min-height: 300px !important;
    }

</style>
<div >
<form ng-submit="ctrl.add()" name="form" role="form">
<!-- include summernote css/js-->
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <a class="navbar-brand" href="/home">Flowtalk</a>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav navbar-right navbar-form">
                 <button class="btn btn-info" type="button" ng-disabled="form.$invalid" ng-click="ctrl.add()">Create</button>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<!--<div id="summernotes"><p>Hello Summernote</p></div>-->
    <div class="row">
        <div class="col-md-2 col-xs-1">

        </div>
        <div class="col-md-6 col-xs-10" >
            <div class="col-md-2 hidden-xs col-xs-3" ng-controller="DiscussCtrl as ctrl">
                <img ng-src="{{avator}}" class="img-rounded member_image" alt="user Image">
            </div>
            <div class="col-md-10 col-xs-9" >
                <div class="row owner-detail" ng-controller="DiscussCtrl as ctrl">
                    <span>{{fname}}</span>
                </div>
                <div class="row" >
                    <h1 class="file-title-header">
                        <textarea ng-model="ctrl.topic" class="black" required name="topic" id="topic" placeholder="Untitled" autocomplete="off" style="overflow: hidden;" ></textarea>
                    </h1>
                </div>
                <input ng-model="ctrl.arch" class="black"  name="arch" id="arch" type="text" style="visibility: hidden" />
            </div>
        </div>
        <div class=" hidden-xs" >

        </div>
    </div>
    <div class="row">
        <div class="col-md-2 col-xs-1">

        </div>
        <div class="col-md-6 col-xs-10">
            <div class="col-md-2 hidden-xs col-xs-3">
            </div>
            <div class="col-md-10 col-xs-9">
                <!--<div class="divider"></div>-->
            </div>
        </div>
        <div class="hidden-xs ">

        </div>
    </div>
    <div class="row">
        <div class="col-md-2">

        </div>
        <div class="col-md-6">
            <!--<div> <p>this is a test</p></div>-->

            <!--<form method="post">
                <div class="externalToolbarWrapper" id="externalToolbarWrapper" ui-tinymce="tinymceOptions" ng-model="tinymceModel"> p</div>
            </form>-->
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">

        </div>
        <div class="col-md-10">
            <!--<p><a href ng-click="repsec0 = !repsec0" id="record5"><img ng-src="images/video-camera.png" class="img-rounded record_image" alt="record Image"></a></p>-->
            <p ng-hide="repsec0"><a href ng-click="ctrl.toggle_vid('fa')" id="record"><img ng-src="images/video-camera.png" class="img-rounded record_image" alt="record Image"></a></p>
            <p ng-hide="!repsec0"><a href ng-click="ctrl.toggle_vid('tr')" id="record_dest"><img ng-src="images/video-camera.png" class="img-rounded record_image" alt="record Image"></a></p>
        </div>
    </div>
    <div class="row" ng-hide="!repsec0">
        <div class="col-md-2">

        </div>
        <div class="col-md-10">
            <div class="video" style="padding-left: 71px;margin-top: -17px;">
                <div id="subscriber"></div>
                <div id="publisher"></div>
                <button class="btn btn-info" type="button"  id="start">start</button>
                <button class="btn btn-info" type="button"  id="stop">stop</button>
                <button class="btn btn-info" type="button"  id="get">get</button>
            </div>
            <!--<ot-layout props="{animate:true}">
                <ot-subscriber ng-repeat="stream in streams"
                               stream="stream"
                               props="{style: {nameDisplayMode: 'off'}}">
                </ot-subscriber>
                <ot-publisher id="publishers"
                              props="{style: {nameDisplayMode: 'off'}, frameRate: 30,name: 'Adam'}">
                </ot-publisher>
            </ot-layout>-->
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 ">
            <!--<div> <p>this is a test</p></div>-->
        </div>
        <div class="col-md-5 file-content col-xs-5">
            <div class="col-md-1 col-xs-1">
                <a><i class="fa fa-paragraph"></i></a>
                <div class="externalToolbar" id="externalToolbar"> </div>
                <!--<p id="p">off</p>-->
            </div>
            <div class="col-md-11 col-xs-9 desc">

               <!--<textarea name="desc" id="desc" ng-model="ctrl.desc" placeholder="test" rows="5" autocomplete="off" data-autosize-on="true" style="overflow: hidden; word-wrap: break-word; width: 100%" autofocus>
               </textarea>-->
               <div summernote config="options" airMode ng-model="ctrl.desc" required id='summernote' class="description"></div>
            </div>

        </div>
        <div class="col-md-5 ">

        </div>
        
    </div>

</form>
</div>
<script>
    $(document).ready(function() {
   $("a").click(function(){
       $('summernote').focus();
   });
});

</script>
<script type="text/javascript">
    var apiKey,
            sessionId,
            archiveID,
            token;

    //$(document).ready(function() {
    $("#record").click(function() {
        // Make an Ajax request to get the OpenTok API key, session ID, and token from the server
        $.get(SAMPLE_SERVER_BASE_URL + '/api/create_session', function(res) {
            console.log('i am chris' +res.apiKey);
            apiKey = res.apiKey;
            sessionId = res.sessionId;
            token = res.token;

            initializeSession();
        });
    });
    $("#record_dest").click(function() {
        // destroy session
        var session = OT.initSession(apiKey, sessionId);
            session.disconnect();
       /* var scope = angular.element($("#record_dest")).scope();
        scope.$apply(function(){
            scope.repsec0 = false;
        });*/
    });

    function initializeSession() {
        var session = OT.initSession(apiKey, sessionId);

        // Subscribe to a newly created stream
        session.on('streamCreated', function(event) {
            session.subscribe(event.stream, 'subscriber', {
                insertMode: 'append',
                width: '100%',
                height: '100%'
            });
        });

        session.on('sessionDisconnected', function(event) {
            console.log('You were disconnected from the session.', event.reason);
        });

        // Connect to the session
        session.connect(token, function(error) {
            // If the connection is successful, initialize a publisher and publish to the session
            if (!error) {
                var publisher = OT.initPublisher('publisher', {
                    insertMode: 'append',
                    width: '100%',
                    height: '100%'
                });

                session.publish(publisher);
            } else {
                console.log('There was an error connecting to the session: ', error.code, error.message);
            }
        });
    }
    $("#start").click( function() {
        //$('#topic').text('start');
        console.log('clicked start');
        startArchive();
        }
    );
    $("#stop").click( function() {
        stopArchive()
        console.log('clicked stop');
        //$('#arch').val(archiveID);
        $('#arch').val(archiveID).change();

        var scope = angular.element($("#arch")).scope();
        scope.$apply(function(){
            scope.selectValue = archiveID;
        });
        }
    );
    $("#get").click( function() {
        console.log('clicked get');
        getArchive()
        }
    );
    function startArchive() {
        console.log('started archiving');
        $.get(SAMPLE_SERVER_BASE_URL + '/api/start_rec/' + sessionId ,function(res) {
            console.log('started archiving' +sessionId);
            archiveID = res.archiveId;
        });
        //$('#start').hide();
        //$('#stop').show();
    }
    function stopArchive() {
        $.post(SAMPLE_SERVER_BASE_URL + '/api/stop_rec/' + archiveID);
        console.log('the archive id is: '+archiveID);
        //$('#stop').hide();
        //$('#start').show();
        //$('#view').prop('disabled', false);
    }
    function getArchive() {
        $.post(SAMPLE_SERVER_BASE_URL + '/api/get_rec/' + archiveID);
        //$('#stop').hide();
        //$('#start').show();
        //$('#view').prop('disabled', false);
    }
    // REMEMBER TO CREATE AN ACCOUNT WITH TOKBOX AND THEN POPULATE YOUR API_KEY, SESSION_ID, AND TOKEN IN THIS CODE
    // Initialize session, set up event listeners, and connect
</script>

<!--
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that can be foundin the LICENSE file at http://material.angularjs.org/HEAD/license.
-->
