<style>
    html, body {
        background-color: #fff;
        height: 100%;
        padding-top: 0;
    }
    .desc{
        color: #232323;
        padding-left: 0px;
    }
</style>
<div >
<form ng-submit="ctrl.add()" name="form" role="form">
<!-- include summernote css/js-->
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <a class="navbar-brand" href="/home">Flowtalk</a>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav navbar-right navbar-form">
                 <button class="btn btn-info" type="button" ng-disabled="form.$invalid" ng-click="ctrl.add()">Create</button>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<!--<div id="summernotes"><p>Hello Summernote</p></div>-->
    <div class="row">
        <div class="col-md-2 ">

        </div>
        <div class="col-md-5 col-xs-5" >
            <div class="col-md-2 hidden-xs col-xs-3" ng-controller="DiscussCtrl as ctrl">
                <img ng-src="{{avator}}" class="img-rounded member_image" alt="user Image">
            </div>
            <div class="col-md-8 col-xs-9" >
                <div class="row owner-detail" ng-controller="DiscussCtrl as ctrl">
                    <span>{{fname}}</span>
                </div>
                <div class="row" >
                    <h1 class="file-title-header">
                        <textarea ng-model="ctrl.topic" class="black" required name="topic" id="topic" placeholder="Untitled" rows="1" autocomplete="off" data-autosize-on="true" style="overflow: hidden; word-wrap: break-word; height: 43px;" ></textarea>
                    </h1>
                </div>
            </div>
        </div>
        <div class="col-md-5 ">

        </div>
    </div>
    <div class="row">
        <div class="col-md-2 ">

        </div>
        <div class="col-md-5 col-xs-5">
            <div class="col-md-2 col-xs-3">
            </div>
            <div class="col-md-8 col-xs-9">
                <div class="divider"></div>
            </div>
        </div>
        <div class="col-md-5 ">

        </div>
    </div>
    <div class="row">
        <div class="col-md-2">

        </div>
        <div class="col-md-6">
            <!--<div> <p>this is a test</p></div>-->

            <!--<form method="post">
                <div class="externalToolbarWrapper" id="externalToolbarWrapper" ui-tinymce="tinymceOptions" ng-model="tinymceModel"> p</div>
            </form>-->
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 ">
            <!--<div> <p>this is a test</p></div>-->
        </div>
        <div class="col-md-5 file-content col-xs-5">
            <div class="col-md-1 col-xs-1">
                <a><i class="fa fa-paragraph"></i></a>
                <div class="externalToolbar" id="externalToolbar"> </div>
                <!--<p id="p">off</p>-->
            </div>
            <div class="col-md-11 col-xs-9 desc">

               <!--<textarea name="desc" id="desc" ng-model="ctrl.desc" placeholder="test" rows="5" autocomplete="off" data-autosize-on="true" style="overflow: hidden; word-wrap: break-word; width: 100%" autofocus>
               </textarea>-->
               <div summernote config="options" airMode ng-model="ctrl.desc" required id='summernote' class="description"></div>
            </div>

        </div>
        <div class="col-md-5 ">

        </div>
        
    </div>

</form>
</div>
<script>
    $(document).ready(function() {

       /* $('summernote').summernote({
            airMode: true,
            focus: true,
            popover: {
                link: [
                    ['link', ['linkDialogShow', 'unlink']]
                ],
                air: [
                    ['color', ['color']],
                    ['font', ['bold', 'underline', 'clear','superscript','subscript']],
                    ['para', ['ul', 'paragraph','ol']],
                    ['insert', ['link']]
                ]
            }

        });*/
        /*
    });
    $(document).ready(function () {
        $('#summernote').summernote({
            toolbar: [
                // [groupName, [list of button]]
                ['style', ['bold', 'italic', 'underline', 'clear']],
                ['font', ['strikethrough', 'superscript', 'subscript']],
                ['fontsize', ['fontsize']],
                ['color', ['color']],
                ['para', ['ul', 'ol', 'paragraph']],
                ['height', ['height']]
            ]
        });
    })*/
   /**
    * [editor description]
    * @type {MediumEditor}
    
    var editor = new MediumEditor('.editable',{
    toolbar: {
        /* These are the default options for the toolbar,
           if nothing is passed this is what is used *
        allowMultiParagraphSelection: true,
        buttons: ['bold', 'italic', 'underline', 'anchor', 'h2', 'h3', 'quote'],
        diffLeft: 0,
        diffTop: -10,
        firstButtonClass: 'medium-editor-button-first',
        lastButtonClass: 'medium-editor-button-last',
        relativeContainer: null,
        standardizeSelectionStart: false,
        static: true,
        /* options which only apply when static is true *
        align: 'left',
        sticky: false,
        updateOnEmptySelection: false
    }
    });*/
   $("a").click(function(){
       $('summernote').focus();
   });
});

</script>
<!--
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that can be foundin the LICENSE file at http://material.angularjs.org/HEAD/license.
-->
