table { border-collapse: collapse; border-spacing: 0; }
img { border: 0; max-width: 100%; }

#container {
    display: block;
    width: 100%;
    background: #fff;
    padding: 14px 20px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.3);
    -moz-box-shadow: 1px 1px 1px rgba(0,0,0,0.3);
    box-shadow: 1px 1px 1px rgba(0,0,0,0.3);
}
#topics{
    display: block;
    background: #e1e1e1;
    padding: 5px 5px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.3);
    -moz-box-shadow: 1px 1px 1px rgba(0,0,0,0.3);
    box-shadow: 1px 1px 1px rgba(0,0,0,0.3);
}

/* comments area */
#comments { display: block; }

#comments .cmmnt, ul .cmmnt, ul ul .cmmnt { display: block; position: relative; padding-left: 65px;padding-top:7px;padding-top:10px; border-top: 1px solid #f4f4f4; }

#comments .cmmnt .avatar  { position: absolute; top: 8px; left: 0; }
#comments .cmmnt .avatar img {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.44);
    -moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.44);
    box-shadow: 1px 1px 2px rgba(0,0,0,0.44);
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -ms-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
    transition: all 0.4s linear;
}

#comments .cmmnt .avatar a:hover img { opacity: 0.77; }

#comments .cmmnt .cmmnt-content { padding: 0px 3px; padding-bottom: 10px; padding-top: 6px; }

#comments .cmmnt .cmmnt-content header { font-size: 1.0em; display: block; margin-bottom: 4px;}
#comments .cmmnt .cmmnt-content header .pubdate { color: #777; }
#comments .cmmnt .cmmnt-content header .userlink { font-weight: bold; }

#comments .cmmnt .replies { margin-bottom: 10px; }

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 34px;
    height: 0;
    overflow: hidden;
}
.video-container iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}
.dialogdemoBasicUsage #popupContainer {
    position: relative; }

.dialogdemoBasicUsage .footer {
    width: 100%;
    text-align: center;
    margin-left: 20px; }

.dialogdemoBasicUsage .footer, .dialogdemoBasicUsage .footer > code {
    font-size: 0.8em;
    margin-top: 50px; }

.dialogdemoBasicUsage button {
    width: 200px; }

.dialogdemoBasicUsage div#status {
    color: #c60008; }

.dialogdemoBasicUsage .dialog-demo-prerendered md-checkbox {
    margin-bottom: 0; }

.owner-detail{
    display: block;
    font-size: 1.2rem;
    line-height: 1.0625rem;
    font-weight: 700;
    color: #b3b5b9;
    padding-left: 0px;
}
.desc{
    display: block;
    color: #232323;
    padding-left: 0px;
}
.file-title-header {
    font-size: 34px;
    line-height: 43px;
    font-weight: 900;
    letter-spacing: -.03rem;
    padding: 0;
    color: #232323;
}
.file-title-head {
    font-size: 34px;
    line-height: 35px;
    font-weight: 900;
    letter-spacing: -.03rem;
    padding: 0;
    color: #232323;
}
.file-title-header textarea{
    border: none;
    overflow: auto;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    margin-top: 0px;
}
.file-content {
    padding-left: 20px;
    margin-left: 50px;
    margin-top: 50px;
}
.file-content textarea{
    border: none;
    overflow: auto;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.file-content ol{
    padding-left: 30px;
    list-style-type: decimal;
}
.file-content ul{
    padding-left: 30px;
    list-style-type: disc;
}
.divider {
    width: 60px;
    border-top: 1px solid #777;
}
.ta-editor {
    min-height: 300px;
    height: auto;
    overflow: auto;
    font-family: inherit;
    font-size: 100%;
    margin:20px 0;
}
.sticky {
    top: 0;
    position: fixed;
}
.div2::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

.div2::-webkit-scrollbar
{
    width: 6px;
    background-color: #F5F5F5;
}

.div2::-webkit-scrollbar-thumb
{
    background-color: #000000;
}
.owner-name{
    margin-left: 50px;
    color: #555459!important;
    font-weight: 500!important;
    font-family: Slack-Lato,appleLogo,sans-serif;
}
.comment-name{
    color: #555459!important;
    font-weight: 500!important;
    font-family: Slack-Lato,appleLogo,sans-serif;
}
.div3 {
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 5px;
    margin-right: 5px;
}
.description{
    font-family: Slack-Lato,appleLogo,sans-serif;
    color: #3d3c40;
}
/*
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that can be foundin the LICENSE file at http://material.angularjs.org/HEAD/license.
*/
